# =========================
# Environment variables (МАХФӢ)
# =========================
.env
.env.*
*.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE editors
# =========================
.vscode/
.idea/

# =========================
# Build / temp
# =========================
dist/
build/
*.egg-info/

# =========================
# Uploaded files (агар upload нигоҳ дорӣ)
# =========================
uploads/
media/